.li-styling{
    list-style: none;
}
ol {
    max-width: 350px;
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 40px;
  }
  ol li {
    margin: 0 0 0.5rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
  }
ol >:first-child:before{
    counter-reset: my-awesome-counter +1;
    content: counter(my-awesome-counter);
    color: #fff;
    font-size: 0.9rem;
    position: absolute;
    --size: 19px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    background: #00914b;
    border-radius: 50%;
    text-align: center;
    
}
ol >:nth-child(2):before{
    content: counter(my-awesome-counter);
    color: #fff;
    font-size: 0.9rem;
    position: absolute;
    --size: 19px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    background: #00914b;
    border-radius: 50%;
    text-align: center;
    
}
.cards-container{
  display: grid;
  Grid-template-columns: repeat(3, 1fr);
  Grid-column-gap: 20;
}

.dashCards{
    background-color: #ffffff;
    box-shadow:0 0 12px rgba(160,159,159,.18);
    width:320px;
    height:210px;
    padding: 20px 15px;
    border-radius: 5px;
}

.card-top{
    display:grid;
    Grid-template-columns: repeat(2, 1fr);
    Grid-column-gap: 20;
    padding-bottom:20px;
}
.no-button{
    display:block;
}
.card-top h4{
    font-size: 1.125rem;
    margin-bottom: 1rem;
    font-weight: 500;
    display: inline;
    line-height: 1.25;
   
}
.billing{
    padding-bottom:5px;
}
.billing h3{
    font-size: 1.25rem;
    
}
.card-top a{
    color: white;
    text-decoration: none;
}
.linkButton{
    background-color: #00914b; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 3px 8px; /* Some padding */
    font-size: 80%; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 9999px;
  width:17%;
  height: 69%;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.70);
  transition: all .2s;
  overflow: unset;
    line-height: 1;
    white-space: nowrap;
    font-weight: bold;
    margin-left:80%;

}

.card-content{
    display: grid;
    Grid-template-columns: repeat(4, 1fr);
    text-align: left;
   padding-top: .50rem;
}
.card-content2{
  margin-left: 0.5%;
    text-align: left;
   padding-top: .50rem;
}

.card-content h1{
    font-size: 2.5rem;
    font-weight: 500;
    
}

.card-content h2{
    font-size: .875rem;
    width:6rem;
    color:#73767c;
    text-align: left;
    line-height: 1.5;
    margin-left: 20px;
    font-weight: 500;
    
}
.card-content h3{
    font-size: .875rem;
    width:16rem;
    color:#73767c;
    text-align: left;
    line-height: 1.5;
   
    font-weight: 500;
    
}

.list-style {
    display: grid;
    Grid-template-columns: repeat(2, 1fr);
    color: #909fa7;
    font-size: 18px;
    text-align: left;
}

.list-style i {
    margin-left:-40px;
   
}
.list-link{
    margin-left: -140px;
    margin-top: -10px;
}
.list-link2{
    margin-left: 0px;
    margin-top: 0px;
}
.list-link a{
    color: #004684;
    font-size:14px;
    margin-left: 0px;
}

.list-style h5 {
    margin-left:-140px;
}

.list-numbering {
    border: 1px solid #909fa7;
    border-radius: 100%;
    color: #909fa7;
    padding: 0px 6px;
    font-size: 60%; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    width:15%;
    height: 68%;
    margin-left:-40px;
}

.section-header{
    padding-top: 50px;    
}

.section-header h4{
    font-weight: 500;
    font-size: 1.125rem;
}
.section-content{
    background-color: #ffffff;
    box-shadow:0 0 12px rgba(160,159,159,.18);
    width:998px;
    padding: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.section-text-content{
    margin-top: 50px;
    width:90%;
    margin-left: -20px;
}

.section-text-content h3{
    font-size: 1.125rem;
    font-weight: 500;
}

.section-text-content h4{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}

.list-style2 {
    display: grid;
    Grid-template-columns: repeat(2, 1fr);
    color: #909fa7;
    font-size: 18px;
    text-align: left;
}
.list-style2 i {
    margin-left:-40px;
   
}

.list-style2 h5 {
    margin-left:-190px;
}

.list-numbering2 {
    border: 1px solid #909fa7;
    border-radius: 100%;
    color: #909fa7;
    padding: 0px 6px;
    font-size: 60%; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    width:9%;
    height: 68%;
    margin-left:-40px;
}

.table-card-header{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    padding-right:2rem;
}
.employee-header{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
.employee-header button{
    width: 25%;
}
.table-card-header-rooms{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
   
}

.table-card-header input{
    width:100%;
    display:block;
    border-radius:0.25rem;
    border: 1px solid #dde6e9;
    box-shadow: 0 0 0 #000 !important;
    font-size: 0.857rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-weight: 400;
    line-height: 1.52857;
    color: #495057;
    padding: 0.375rem 1rem;
    margin-left: -40%;
}
.table-card-header h1{
    font-size: 1.5rem;
  
    
}
.table-card-header select{
    background-color: transparent;
    display: inline-block;
    width: 50%;
    border: 1px solid #dde6e9;
    border-radius: 0.25rem;
    padding: 0.375rem 2rem 0.375rem 1rem;
    font-weight: 400;
    line-height: 1.52857;
    color: #495057;
    vertical-align: middle;
    margin-left: 100%;
    text-align: center;


}
.table-card-header button{
    background-color: #00914b;
    width:45%;
    margin-left: 55%;
    font-weight: bolder;
    cursor: pointer;
    border-color: #eaeaea;
    color: #333;
    border-radius: 3px;
    font-size: 13px;
    -webkit-appearance: none;
    outline: none !important;
    transition: all 0.1s;
    padding: 0.625rem 1.25rem;
    line-height: 1.5;
    border-radius: 3px;
    text-align: center;

}
.align-left  button{
    
    width: 30%;
    background-color: #fff;
}
.align-left2 button{
    margin-left:-12rem;
    width: 45%;
    background-color: #fff;
}
.table-card-header-rooms button{
    width: 25%;
    margin-left: 75%;
    background-color: #00914a;
    color:#fff;
}
 link{
    color:#fff;
}
.image-holder img{
    border-radius:100%;
    width: 70px;
   
}

.remove-border,

.remove-border:active,
.remove-border:focus,
.remove-border:focus-within,
.remove-border:visited,
.remove-border::selection
 {
    background: none;
    border:none;
    color:#656565;
    margin-right: 2rem;
}
.remove-border:hover, .dropdown-devices:hover, .room-dropdown:hover{
    color:#00914b
}
.room-dropdown{

}
.dropdown-devices{
    color: #fff;
    margin-right: 1rem;
}

.form-control[readonly] {
    background: none; 
    opacity: 1;
}

.form-control:focus {
    border-color: #00914b;
}

.form-card{
    background-color: #ffffff;
    box-shadow:0 0 12px rgba(160,159,159,.18);
    width:100%;
    height:100%;
    padding: 20px 15px;
    padding-bottom:60px;
    border-radius: 5px;
}
.visitorForm{
    width: 75%;
   padding-top: 1rem;
    padding-bottom: 70px;
}
.profile-form{
    width: 50%;
    padding-top: 1rem;
}
.new-room-form{
    padding-bottom: 2px;
}

.form-gird{
    display: grid;
  Grid-template-columns: repeat(2, 1fr);
  width: 100%;
  Grid-column-gap: 30px;
  
  padding-bottom: 1rem;
  
}
.form-gird2{
    display: grid;
  Grid-template-columns: repeat(2, 1fr);
  width: 100%;
  Grid-column-gap: 30px;
  margin-top:-1rem;
  
}

.required{
    color:red;
}
small, .small {
    font-size: 80%;
    font-weight: 400;
}
.input-field{
    padding-bottom: 1rem;
}
.input-field Input{
    padding:20px;
}
.input-field p{
    font-size: 0.9rem;
}
.input-field select{
    border-radius: 5px;
    
}
.input-field-large{
    padding-top:15px;
    width: 130%;
    padding-bottom:20px;
}
.input-field-small{
    padding-top:15px;
    width: 70%;
    margin-left: 105px;
}
.hidden-form{
    padding-top: 1rem;
}
.invite-btn {
    cursor: pointer;
    background: #00914b;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 13px;
    -webkit-appearance: none;
    outline: none !important;
    padding: 0.625rem 1.25rem;
    line-height: 1.5;
    border-color: #00914b;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    transition: all .5s;
}
.black-link{
    color: #333;
    font-weight: 400;
}
.button-align{
    text-align:right;
}
.button-align button{
    background-color: #00914b;
}
.button-align button:hover{
    color: #000;
}
.device-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.device-cards{
    border: 1px solid #000;
    width: 450px;
    padding: 20px;
    background: linear-gradient(to bottom, #004684, #00914b) !important;
    color: #fff !important;
    border-radius: 5px;
}
.device-card-top{
    text-align:right;
    color: #fff;
}


.device-content{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
   
   
}

.device-content img{
    max-height: 100px;
}
.device-content ul{
    list-style-type: none;
    margin-left: -40px;
    
 
}
.grid-height{
    grid-row: 1/3;
}
.deviceStatus.good {
    background: rgb(33, 166, 122);
}
.device-status{
    color: rgb(33, 166, 122);
    background: rgb(230, 250, 243);
    font-size: 0.875rem;
    display: inline-block !important;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    font-weight: 700;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    vertical-align: middle;
    border-radius: 0.25rem !important;
  
}

.disabled{
    color: #ff0000;
}
.deviceStatus, .deviceStatus.small {
    width: 8px;
    height: 8px;
    vertical-align: 1px;
}
.deviceStatus.small {
    margin-right: 4px;
}
.deviceStatus {
    display: inline-block;
    position: relative;
    border-radius: 50%;
}
small, .small {
    font-size: 80%;
    font-weight: 400;
}

.device-Name{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
    overflow-wrap: break-word;
    word-break: break-all;
    box-sizing: border-box;
    color: rgb(40, 44, 54);
    color: #fff;

}
.device-desc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 20px 20px 0px;
}
.whole-device{
    padding-right:80px;
}
.new-tablet-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 40px;
    padding-left: 60px;
}
.list-numbering-tablet{
    
    border-radius: 100%;
    color: #fff;
    padding: 0px 6px;
    font-size: 60%; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    width:6%;
    height: 28%;
    margin-left:-40px;
    background-color: #00914b;
    margin-top:15px;
}

.list-style3 {
    display: grid;
    Grid-template-columns: repeat(2, 1fr);
    color: #656565;
    font-size: 18px;
    text-align: left;
}

.list-style3 i {
    margin-left:-40px;
   
}

.list-style3 h4 {
    margin-left:-315px;
    font-size: 1.1rem;
    font-weight: 1000px;
    padding-bottom: 20px;
  padding-top: 15px;
}
.list-style3 ul {
    margin-left:-30px;
    font-size: 1.1rem;
    font-weight: 1000px;
}
.new-tablet-device {
    padding-right: 10px;
    text-align: right;
    margin-right: 20px;
}
.new-tablet-device img{
   max-height: 500px;
}
.new-tablet-form ul {
    width: 140%;
    
}
.new-tablet-form button {
    background-color: #00914b;
    color: #fff;
}
.card-top-tablet a{
    color:#656565;
}
.card-top-tablet a:hover{
    color:#00914a;
}
.new-tablet-form input {
    background: right -10px center #fff;
    background-size: 20px;
    border: 1px solid #c9cacd;
    border-radius: 4px;
    outline: 0;
    padding: 8px 6px 6px;
    margin-bottom: 20px;
    display: block;
    transition: all .2s;
    cursor: text;
    position: relative;
    box-sizing: border-box;
    
}
.device-code{
    font-size: 60px !important;
    width: 60%;
    height: auto !important;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-variant-numeric: lining-nums;
}



.save-button{
    padding-bottom: 40px;
}

.upload-logo{
    display: grid;
    Grid-template-columns: repeat(2, 1fr);
    padding: 10px 20px 10px 30px;
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-radius: 0.25rem !important;
    margin-top:0;
    margin-bottom:2rem;
}
.billing-box {
    margin-top: 0;
    margin-left:1rem;
    padding: 1rem;
    padding-left: 1rem;
}
.billing-box2{
    margin-left:1rem;
}


.upload-logo img{
    width: 32px;
    padding-top: 10px;
}

.upload-logo-content{
    margin-left: -400px;
}

.logo-preview{
    display: grid;
    Grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
    
}
.logo-preview img{
    width: 200px;
    padding: 30px 0px 60px 0px;
}
.upload-button{
    width:140px;
    height: 20px;
    
    margin-left: -240px;
}
.upload-text{
    
    grid-column: 2/3;
    width: 380px;
    margin-bottom: 103px;
    padding-top:0;
  
}
.upload-text h5{
    line-height: 1.5;
}
.logo-preview input{
    width:105px;
    height: 20px;
    border: 1px solid #000;
}

.grid-img{
    grid-row:1/3;
    
}
.upload-btn-wrapper {
    position: relative;
    overflow: none;
    display: inline-block;
    width: 135px;
    
  }
  
  .btn-upload {
    
    color: #fff;
    background-color: #00914b;
    padding: 10px 33px;
    border-radius: 0.25rem;
    font-size: 1rem;
    border:none;
   
  }
  .btn-upload2 {
    
    color: #282c36;
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 0.25rem;
    font-size: 1rem;
    border:none;
   
  }
  .btn-upload2:hover {
    color: #656565;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }


  .content-grid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }

  .content-button{
      text-align: right;
      margin-top: 10px;
  }
  .learn-more{
      margin-top: 1rem;
  }
  .content-text{
      margin-top:1rem;
  }

  .btn-deactivate{
    color: #282c36;
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 0.25rem;
    font-size: 1rem;
    border: 1px solid #000;;
  }
  .btn-deactivate:hover {
    color: #fff;
    background-color: #00914a;
    border: 1px solid #00914a;
  }

  .table-round-btn{
      border-radius:1.5rem;
      padding: 5px 20px;
      background-color: #27c24c;
      border: none;
      color: #fff;
  }

  .table-dark-btn{
    background-color: #3a3f51;
  }
.all-integrations{
    margin-top: -20px;
    
}
.all-integrations a{
    text-decoration: none;
    box-shadow: inset 0 -0.125rem #00914b;
    padding-bottom:.5rem;
    color: #00914b;
}
.integration-desc{
    padding-top:2rem;
}

.integration-desc p{
    font-size: .875rem;
    color: #73767c;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 0.65625rem;
}
.integration-desc a{
    color: #5d9cec
}
.integration-content-header{
    margin-top: 5rem;
}
.integration-content-container{
    border: 1px solid #e9e9ea;
    min-height: 235px;
    padding: 1rem;
    width: 30%;
    border-radius: 0.25rem !important;
    text-align:center;
    margin-left: 1rem;
    margin-top:3rem;

}
.integration-content-container img{
    max-height: 50px;
    text-align:center;
    margin-top:20px;
}
.h4 {
    font-size: 1rem;
    margin-bottom: 0.65625rem;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 10px;
}
.sync-btn{
    padding: 10px 35px;
    font-size: 1rem;
}

.change-pwd{
    display: none;
}
.c-checkbox input[type="checkbox"]:checked + span, .c-checkbox input[type="radio"]:checked + span, .c-radio input[type="checkbox"]:checked + span, .c-radio input[type="radio"]:checked + span {
    border-color: #00914b;
    background-color: #00914b;
}
.c-checkbox span, .c-radio span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #ccc;
        border-top-color: rgb(204, 204, 204);
        border-right-color: rgb(204, 204, 204);
        border-bottom-color: rgb(204, 204, 204);
        border-left-color: rgb(204, 204, 204);
    margin-right: 5px;
    text-align: center;
}

.c-checkbox span:before, .c-radio span:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: center !important;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
}
.c-checkbox:hover span, .c-radio:hover span {
    border-color: #00914b;
}
label:not(.label-reset) {
    font-weight: 600;
}

.profile-btn{
    padding-top:1rem;
}
.check-margin{
    margin-left: 250px;
}.tw-pl-1 {
    padding-left: .25rem;
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    top: 30px;
    left: 10px;
}
table.dataTable.dtr-inline.collapsed.smaller > tbody > tr[role="row"] > td:first-child, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {
    top: 20px; 
}
table.dataTable.dtr-inline.collapsed.smallest > tbody > tr[role="row"] > td:first-child, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {
    top: 5px;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.log-btn {
    text-align: center;
}
.log-btn {
    display: inline-block;
    border-radius: 4px;
    font-variant-numeric: lining-nums;
    text-decoration: none !important;
    border: none;
    transition: all .2s;
    cursor: pointer;
    overflow: unset;
    line-height: 1;
    white-space: nowrap;
}
.log-btn--smaller {
    padding: 8px;
    font-size: 12px;
    min-width: 40px;
}
.log-btn--brandHoverFill {
    background: 0 0;
    box-shadow: 0 0 0 1px transparent inset;
    color: #ef3934;
    transition: all .5s;
}
button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
.log-btn--brandHoverFill:hover{
    background-color: #ef3934;
    color: #fff;
    box-shadow: none;
}
.flat-width input{
    padding: 20px;
}
.box {
    width: 70px;
    height: 100px;
    border: none;
    outline: none;
    color: #FFF;
    background: #111;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.box::before {
    content: "";
   /* background: linear-gradient(135deg, #fd1d1d, #d62976, #fa7e1e, #feda75, #48ff00, #00ffd5, #4f5bd5, #7a00ff, #962fbf, #ff0000); */
   /* background: linear-gradient(to left, #004684, #00914b); */
    background: linear-gradient(135deg, #004684, #00914b, #2b4963, #21a67a, #689bc7, #e6faf3, #265175, #48ff00, #004684, #1c88e2);
        background-size: auto;
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(20px);
    width: 102%;
    height: 102%;
    animation: moving-gradient 8s linear infinite;
    border-radius: 10px;
}

.box::after {

    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;

}
.list-padding{
    padding-bottom: 1rem;
}

.sublist-mgin{
    margin-left:-1.8rem;
   
}

.navbar-right{
    padding-right: 1rem;
    color:#656565;
}
.sidebar-heading{
    font-size: 15px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: right;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu .dropdown-item {

    line-height: 1.52857143;
    padding: 0;

}
.tw-mb-0 {
    margin-bottom: 50px;
}
.tw-px-8 {
    
    padding-right: 2rem;
}
.h5 {
    font-size: .875rem;
}
.tw-mt-8 {
    margin-top: 2rem;
}
.tw-mt-8 a{
    color: #5d9cec;
text-decoration: none;
background-color: transparent;
}
.tw-mt-8 a:hover{
    color: #1b72e2;
text-decoration: underline;
}
.subheader{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
}
.subheader select{
    width: 40%;
}

@keyframes moving-gradient{
    0% { background-position: 0 0;
            opacity: 0.5;
        }
    50%{
        background-position: 400% 0;
        opacity: 1;
    }
    100% {
        background-position: 0 0;
        opacity: 0.5;
    }
}

@media(max-width: 960px) {
    .cards-container{
        display: grid;
        grid-template-columns:  1fr;
        grid-gap: 2rem;
      }
      .dashCards{
        background-color: #ffffff;
        box-shadow:0 0 12px rgba(160,159,159,.18);
        width:100%;
        height:192px;
        padding-bottom: 20px;
        border-radius: 5px;
    }
    .section-content{
        
        width:100%;
        padding: 0px;
        border-radius: 5px;
        margin-bottom: 50px;
        display:grid;
        grid-template-columns:  1fr;
        
    }
    .section-content img{
        display: none;
    }
    .section-text-content{
        margin-top: 50px;
        width:90%;
        margin-left: 20px;
    }
    .list-style2 h5 {
        margin-left:-150px;
    }
     .brand-logo img 
        {
           width: 150px;
        }
    .sidebar-toggle em{
        color:#000;
    }
    .layout-fixed .wrapper .topnavbar-wrapper{
        position: fixed;
    top: -20;
    width: 100%;
    z-index: 121;
    }
    .list-numbering2 {
       
        width:13%;
       
    }
    .no-display .new-tablet-device{
        display: none;
    }
    .table-card-header{
        display:grid;
        grid-template-columns: 1fr;
       
    }
    .table-card-header-rooms{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .table-card-header select{
     
        margin-left: 0%;
       
        margin-top:10px;
        width: 100%;
    }
    .table-card-header button{
       
        margin-left: 0%;
        margin-top:10px;
    
    }
    .table-card-header input{
    
        margin-left: 0%;
        margin-top:10px;
        
    }
    .device-cards{
       
        width: 300px;
        padding: 10px;
    }
    .new-tablet-device {
       display: none;
    }
    .new-tablet-form{
        margin-left: -40px;
    }
    .new-tablet-form ol {
        width: 180%;
        
        
    }
    .new-tablet-form ul {
        width: 80%;
        
    }
    .new-tablet-form input {
        background: right -10px center #fff;
        background-size: 20px;
        border: 1px solid #c9cacd;
        border-radius: 4px;
        outline: 0;
        padding: 15px 6px 6px;
        margin-bottom: 20px;
        display: block;
        transition: all .2s;
        cursor: text;
        position: relative;
        box-sizing: border-box;
       
        
    }
    .device-code{
        font-size: 20px !important;
        width: 100%;
        height: auto !important;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        font-variant-numeric: lining-nums;
    }
    .visitorForm{
        width: 100%;
        
    }
    .form-gird2{
        display: grid;
      Grid-template-columns:  1fr;
      padding-top:0px;
      padding-bottom: 1rem;
    }
    .input-field-small{
       
        width: 100%;
        margin-left: 0px;
    }
    .input-field-large{
        padding-top:15px;
        width: 100%;
        padding-bottom:10px;
    }
    .upload-logo{
        display: grid;
        Grid-template-columns:  1fr;
    }
    .upload-logo-content{
        margin-left: 0px;
        width: 80%;
        padding-bottom: 2rem;
    }
    .upload-logo img{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logo-preview{
        display: grid;
        Grid-template-columns:  1fr;
    
        
    }
    .upload-text{
    
        
        width: 280px;
        margin-bottom: 0px;
        padding-top:1rem;
        margin-left: -200px;
      
    }
    .upload-btn-wrapper {
        position: relative;
        overflow: none;
        display: inline-block;
        width: 135px;
        margin-left: -200px;
        margin-top: 170px;
        padding-top: 2rem;
      }
      .upload-button{
        width:140px;
        height: 20px;
        
        margin-left: -200px;
        padding-bottom: 2rem;
    }
   
    .content-grid{
        display: grid;
        grid-template-columns:  1fr;
    }
    .dropTable::before{
        background-color: transparent;
    }
    .dataTables_filter{
        float: right;
        text-align: right !important;
    }
    .dataTables_length{
        float: left;
    }
    .form-gird{
        display: grid;
      Grid-template-columns:  1fr;
      Grid-row-gap: 1rem;
      
    }
    .device-grid{
        
        grid-template-columns:  1fr;
        grid-row-gap: 1rem;
    }

    .integration-content-container{
        width: 90%;
        margin-top:2rem;
    }
    .navbar-right{
        padding-right:0;
        color:#656565;
    }
    .table-card-header-rooms button{
        width: 80%;
        margin-top:0px;
        margin-left: 20%;
    }
    .employee-header{
        grid-template-columns: repeat(2, 1fr);
       }
       .employee-header h1{
           font-size: 1.5rem;
       }
    .employee-header button{
       width: 70%;
    }
    .subheader{
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    .align-left2 button{
        margin-left:0rem;
        width: 55%;
        background-color: #fff;
    }
    .no-align{
        text-align: left;
        
    }
    .subheader select{
        width: 90%;
    }
}